/*************************************************************************************
by forcing `height: 100%` in the html and body tag will make sure there are no white areas in vicinity (this is optional though, use it only if you need it)
*************************************************************************************/
html,
body{
    height: 100%;
    font-family: Tahoma,Verdana,Segoe,sans-serif;
}

/*************************************************************************************
by using `background-size: cover;`, you will make sure the image will cover everything
*************************************************************************************/
body{
    background: #00c97e;
    position: relative;
    min-height: 550px;
}


.lbox {
    display: block;
    margin: 0 auto;
    width: 370px;
    padding: 30px 30px 10px 30px;
    text-align: center;
    margin-top: 100px;
}

.lbox .error {
    color: #ff0000;
    font-size: 12px;
    text-align: center;
}

.lbox .logo {
    background: url("/img/mini-logo-nutrifami.png") no-repeat center top;
    height: 109px;
}
.lbox form span {
    width: 120px;
    text-align: left;
    display: inline-block;
    margin-right: 20px;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
}
.lbox form input[type="text"], .lbox form input[type="password"] {
    padding: 15px 10px;
    width: 300px;
    font-size: 22px;
    color: #ffffff;
    background: #02d184;
    border: 0;
    border-bottom: 1px #acffe0 solid;
    display: inline-block;
}
.lbox form input[type="submit"] {
    margin-top: 20px;
    padding: 15px 10px;
    width: 320px;
    color: #fff;
    border: 1px solid #acffe0;
    background: #00b06e;
    font-size: 18px;
    font-weight: bold;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.lbox form input[type="submit"]:hover {
    background: #fef418;
}


footer {
    position: absolute;
    bottom: 0px;
    left: 0; right: 0;
    color: #acffe0;
    border-top: 1px solid #acffe0;
    padding: 10px 20px 0 20px;
}